{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Detail{% endblock %}
{% block body %}
<style>
    body {
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.9)),
        url("{{ asset('resources/backdrops/' ~ serie.backdrop ) }}")
    }
</style>

    <h2>{{ serie.name }}</h2>
    <span class="badge bg-warning text-black">{{ serie.status }}</span>
    <span class="badge bg-warning text-black">{{ serie.firstAirDate|date('d/m/Y') }}</span>
    <span class="badge bg-info text-black">Note : {{ serie.vote }}</span>
    <br>
    <p>{{ serie.overview }}</p>
    <br>
    <div>
        <a href="{{ path('app_serie_delete', {id: serie.id, token: csrf_token('serie_delete' ~ serie.id)}) }}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette série ?')" >Supprimer</a>
    </div>
{% endblock %}
