{% extends'base.html.twig' %}

{% block title %}{{ parent() }} | Catalogue{% endblock %}
{% block body %}
    <h2>Catalogue des séries</h2>

    <div class="pagination">
        {% if(page > 1) %}
            <a href="{{ path('app_serie_liste', {page: page - 1  }) }}">Page précédente</a>&nbsp;
        {% endif %}

        {% if(page < nb_pages_max) %}
            <a href="{{ path('app_serie_liste', {page: page + 1 }) }}">Page suivante</a>
        {% endif %}
    </div>

    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Overview</th>
            <th>Status</th>
            <th>Genres</th>
            <th>First air date</th>
            <th>Last air date</th>
        </tr>
        {% for serie in series %}
        <tr>
            <td>{{ serie.id }}</td>
            <td>{{ serie.name }}</td>
            <td>{{ serie.overview }}</td>
            <td>{{ serie.status }}</td>
            <td>{{ serie.genres }}</td>
            <td>{{ serie.firstAirDate|date('d/m/Y') }}</td>
            <td>{{ serie.lastAirDate ? serie.lastAirDate|date('d/m/Y') : 'Série en cours'}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
